@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1>Welcome!</h1>
    <hr />
    <p>This site will allow you to simulate the process of booking a table aswell as removing booked tables.</p>
    <a asp-page="/ViewTables" class="btn btn-primary">View all tables</a>
</div>